In [7]:
data = {
 'x': [45, 37, 42, 35, 39],
 'y': [38, 31, 26, 28, 33],
 'z': [10, 15, 17, 21, 12]
}

In [12]:
import pandas as pd
dataframe = pd.DataFrame(data)
print("Dataframe is : ")
dataframe

Dataframe is :

    x   y   z
0  45  38  10
1  37  31  15
2  42  26  17
3  35  28  21
4  39  33  12

In [14]:
matrix = dataframe.corr()
print("Correlation matrix is : ")
matrix

Correlation matrix is :

          x         y         z
x  1.000000  0.518457 -0.701886
y  0.518457  1.000000 -0.860941
z -0.701886 -0.860941  1.000000